body {
  font-family: sans-serif;

  margin: 32px;
}

table {
  border-collapse: collapse;
  border: 2px solid rgb(140 140 140);
}

th,
td {
  border: 1px solid rgb(160 160 160);
  padding: 8px 10px;
}

th[scope="row"] {
  text-align: right;
}

td {
  text-align: center;
}

p {
  max-width: 80rem;
  margin-bottom: 1rem;
}
